body,
#app {
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
}

body,
body * {
    margin: 0 !important;
    padding: 0 !important;
}

.clickable-button {
    position: fixed;
    width: 150px;
    height: 50px;
    color: black;

    background: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.clickable-button:hover,
#filter-options button:hover {
    transition: all ease-in-out 0.3s;
    border: 1px solid black;
    color: black;
}

#img-loader-trigger {
    right: 2%;
    top: 20px;
}

#filter-button {
    right: 2%;
    top: 80px;
}

#img-downloader {
    right: 2%;
    top: 140px;
}

#src-code {
    right: 2%;
    top: 200px;
}

.disabled-button {
    position: fixed;
    width: 150px;
    height: 50px;
    color: hsl(0, 0%, 35%) !important;
    border: 1px solid;
    border-color: hsl(0, 0%, 35%) !important;
    border-radius: 10px;
    background: white;
}

#img-loader-container {
    display: none;
}

#filter-options {
    top: 80px;
    height: 200px;
    width: 300px;
}

#code {
    top: 200px;
    height: fit-content;
    max-height: 400px;
    width: 600px;
}

#filter-options,
#code {
    display: none;

    right: 14%;

    position: fixed;
    overflow-y: scroll;

    background: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#filter-options.visible,
#code.visible {
    display: block;
}

#filter-options button {
    display: block;
    width: 250px;
    height: 35px;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#filter-options button:first-of-type {
    margin-top: 10px !important;
}
